{:paths   ["src" "target" "resources"]
 :deps    {arttuka/reagent-material-ui {:mvn/version "5.0.0-alpha.27-0"}
           com.bhauman/figwheel-main   {:mvn/version "0.2.12"}}
 :aliases {:run     {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}
           :run-npm {:main-opts ["-m" "figwheel.main" "-b" "dev-npm" "-r"]}}}
