{:dependencies [[reagent "0.10.0"]
                [arttuka/reagent-material-ui "4.11.0-0"]
                [thheller/shadow-cljsjs "0.0.21"]]
 :source-paths ["src/common" "src/shadow-cljs"]
 :builds       {:dev {:target     :browser
                      :output-dir "resources/shadow-cljs/js"
                      :asset-path "/js"
                      :modules    {:main {:entries [example.main]}}
                      :devtools   {:http-root "resources/shadow-cljs"
                                   :http-port 9500}}}}
