{:dependencies [[reagent "1.0.0"]
                [arttuka/reagent-material-ui "4.11.3-2"]]
 :source-paths ["src"]
 :builds       {:dev {:target           :browser
                      :output-dir       "resources/public/js"
                      :asset-path       "/js"
                      :modules          {:app {:entries [example.core]}}
                      :compiler-options {:infer-externs :auto}
                      :js-options       {:anon-fn-naming-policy :unmapped}
                      :devtools         {:http-root "resources/public"
                                         :http-port 9500}}}}
