{:dependencies [[reagent "1.1.0"]
                [arttuka/reagent-material-ui "5.4.3-0"]]
 :source-paths ["src"]
 :builds       {:dev {:target           :browser
                      :output-dir       "resources/public/js"
                      :asset-path       "/js"
                      :modules          {:app {:entries [example.core]}}
                      :compiler-options {:infer-externs :auto
                                         :output-feature-set :es2018}
                      :js-options       {:anon-fn-naming-policy :unmapped}
                      :devtools         {:http-root "resources/public"
                                         :http-port 9500}}}}
