{:source-paths ["src/core" "test"]
 :dependencies [[reagent "0.10.0"]
                [com.andrewmcveigh/cljs-time "0.5.2"]
                [camel-snake-kebab "0.4.1"]
                [prismatic/dommy "1.1.0"]
                [thheller/shadow-cljsjs "0.0.21"]]
 :builds       {:test {:target    :karma
                       :output-to "target/test.js"}}}
